<!DOCTYPE html>
<html>
    <head>
        <title>Rusty Handlebars Tests</title>
    </head>
    <body>
        <h1>Rusty Handlebars Tests</h1>
        {{~#each wrapped as |item|~}}
            {{{~item~}}}
        {{~/each~}}
    </body>
</html>